@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.text-gradient-01 {
  background: linear-gradient(#4ed6da, #04789d);
  background-clip: text;
  color: transparent;
}

.footer li {
  color: gray;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #44b4b4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #44b4b4;
}
