@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient-01 {
  background: linear-gradient(#4ed6da, #04789d);
  background-clip: text;
  color: transparent;
}

.footer li{
  color: gray;
  font-weight: 400;
}